.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 30px;
}

.imageAndText {
    display: flex;
    align-items: flex-end;
    gap: 12px;
    margin-bottom: 5px;
    flex-direction: row-reverse;
}

.imageAndText img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}





.text {
    position: relative;
    background: #0066CC;
    border-radius: 10px 10px 0 10px;
    padding: 8px 13px;
    box-shadow: 0px 1px 2px 0px rgba(29, 33, 38, 0.10);
    max-width: 527px;
    min-height: 60px;
}

.text:after {
    content: '';
    position: absolute;
    right: -12px;
    bottom: 0;
    width: 12px;
    height: 12px;
    background: radial-gradient(circle at 100% 0, rgba(0,0,0,0) 12px, #0066CC 0);
}

.name {
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    margin-bottom: 4px;
    text-align: right;
}

.messageText {
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    white-space: pre-wrap;
    margin: 0;
}

.time {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 12px;
    margin-right: 62px;
    padding: 0 5px;
}