.buttonsContainer {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.editableSpanContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}