.App {
    --header_height: 60px;
}

.hw {
    background: #FFF;
    min-height: 100vh;
    padding: 24px 70px;
}

.hwTitle {
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    padding: 40px 70px 10px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 0;
}